.avatar {
  display: flex;
  column-gap: 20px;
}

.avatar__image {
  width: 190px;
  height: 190px;
  border-radius: 8px;
}

.avatar__side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 190px;
}

.avatar__info {
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.avatar__name {
  margin: 0;
}

.avatar__description {
  margin: 0;
}
