.cards {
  max-width: 1280px;
  padding: 20px 0 0;
  margin: 0 auto;
}

.cards__list {
  margin: 0;
  /* max-width of actual content subtracting padding included*/
  padding: 0px 0px 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 20px;
  border-bottom: 1px solid #21212166;
}

@media screen and (max-width: 1320px) {
  .cards__list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    justify-content: center;
  }
}

@media screen and (max-width: 630px) {
  .cards__list {
    padding-bottom: 20px;
    gap: 20px;
    grid-template-columns: 288px;
  }
}
