.cards {
  max-width: 1280px;
  padding: 20px 16px;
  margin: 0 auto;
}

.cards__list {
  /* max-width of actual content subtracting padding included*/
  padding: 0px 0px 40px;
  display: grid;
  grid-template-columns: repeat(3, 413px);
  gap: 40px 20px;
  border-bottom: 1px solid #21212166;
}

@media screen and (max-width: 1320px) {
  .cards__list {
    grid-template-columns: repeat(2, 413px);
    justify-content: center;
  }
}

@media screen and (max-width: 846px) {
  .cards__list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    justify-content: center;
  }
  .cards__title {
    max-width: 85%;
  }
}

@media screen and (max-width: 630px) {
  .cards__list {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    justify-content: center;
  }
}

.cards__item {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cards__img {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 8px;
  object-fit: cover;
  overflow: hidden;
  margin-bottom: 12px;
}

.cards__title {
  margin: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #212121;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cards__like-icon {
  width: 23px;
  height: 20px;
}
